body {
    background-image: url('../img/bg.jpg');
}

#title {
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

#comp, #player {
    border: solid 2px red;
}

#rock {
    background-image: url('../img/Rock.png');
}

#paper {
    background-image: url('../img/Paper.png');
}

#scissors {
    background-image: url('../img/Scissors.png');
}

#buttons button {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px;
    font-size: 40px;
    font-weight: bold;
    color: green;
}
#buttons {
    display: flex;
    justify-content: space-around;
}

#choice {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 35px;
}

#choice p{
    font-size: 35px;
    flex-wrap: wrap;
    display: flex;
    max-width: 282px;
    text-align: center;
}


#choice img {
    padding-top: 50px;
}

#pc, #cc {
    transform: translate(80px, -30px);
    width: 100px;
    height: 100px;
}